

.glob p{
  height:60px;
  width:30px;
  margin:0 15px;
  padding:0;
  vertical-align: top;
  background:transparent url(intro-invoicer.png) no-repeat  0px 0px;
}   
.goToScoreBoardButton {
   height:100px;
   width:100px;
   color:black;
   background:linear-gradient(#669FF 10%,#6699FF 10%);
   opacity:0.5;   
}
.background{
	position: fixed;
    top: 55px;
    right: 325px;
	height: 240px;
	width: 320px;
	background:linear-gradient(red,blue );
	display:blocks;
	opacity:0.5;
    
}
.screen{
    position: fixed;
    top: 30px;
    right: 300px;
	height: 480px;
	width: 320px;
    border-style: solid;
    border-width: 25px;
	border-radius: 25px; 
}
.logo{
	font-family: sans-serif;
	font-size: 25px;
	position:fixed;
	top:152px;
	right:452px;
	
}
.glob{
  position:relative;
  -webkit-transition:  all     3.5s linear;
  -moz-transition:     all     3.5s linear;

}
#glob:hover{
 -webkit-transform:  rotate3d(0,0,1,120deg )translate3d(0,100px,0px) ;
 -moz-transform:  scale3d(1.5,2.5,0.5) translate3d(0,100px,0px);
}

#globA{
  
  -moz-transition:  all 3.5s linear;  -webkit-transition:   all    3.5s linear;
  -moz-transform-style: preserve-3d;  -webkit-transform-style:  preserve-3d;
  -moz-perspective: 1000px;           -webkit-perspective: 1000px;
  -moz-transform-origin:50% 50%;      -webkit-transform-origin:50% 50%;
  position:relative;
  width:500px;
  height:500px;
}





.lg0 {-moz-transform: translate3d(0px,0px,0px);}


#id0 p{background-position:   0px 0px;}

#stop{position:relative; left:500px;}



